<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Tutorials</title>
    <style>
        h1{
            color: blueviolet;
            font-size: xx-large;
        }
        ul {
            list-style-type: none;
        }
        ul > li {
            font-size: x-large;
        }
        p {
            font-size: x-large;
            border: 1px solid black;
            padding: 6px;
        }
    </style>
</head>
<body>
    <h1>Welcome to My Page</h1>
    <ul>
        <li>Apple</li>
        <li>Mango</li>
        <li>Grapes</li>
        <li>Banana</li>
        <li>Pineappe</li>
    </ul>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus quas cumque labore voluptatem! Fugiat corrupti obcaecati tenetur voluptate non facere reiciendis, quasi laudantium cum molestias commodi recusandae vel aliquam sequi, expedita autem illum repudiandae amet officiis quaerat optio labore adipisci. Animi nesciunt quia illum exercitationem earum qui quas ratione dolor veniam mollitia temporibus laudantium, doloribus nisi suscipit quisquam a sint nam. Praesentium obcaecati, est reiciendis aliquam corrupti iure sapiente natus voluptates dolore ullam nobis doloremque libero asperiores nemo labore. Ipsum molestias quidem illo asperiores quos labore rem non inventore beatae, ad nisi obcaecati earum. Consequatur minima nam quidem, adipisci saepe eius! Sapiente suscipit, possimus iusto voluptatem beatae esse eaque tempore maiores qui est mollitia accusantium sit porro eius itaque natus ea, quasi accusamus facere. Maxime incidunt nihil debitis commodi vel, quibusdam accusantium nulla possimus voluptas corrupti dolore mollitia. Officia in fugiat aliquam illum tenetur repellat at nam minima esse delectus saepe nobis, sapiente quidem quisquam facere facilis iste consectetur ab qui possimus expedita, nemo a animi officiis. Earum natus ratione unde, accusamus, minus nihil odio, quas alias fugit ad accusantium ipsam quibusdam maiores sed tenetur veniam. Earum totam ad corrupti saepe natus vitae odit aperiam aliquid, a fugiat cumque qui.
    </p>
</body>
</html>